[General]
# arch and directory can be specified on the command line.
arch=armhf

# the directory where the root file system will be generated.
# or override with the --dir option.
directory=

# same as --tidy-up option if set to true
cleanup=true

# retain the sources outside the rootfs for distribution
# specify a directory to which all the .debs can be moved.
# or override with the --source-dir option.
retainsources=

# same as --no-auth option if set to true
# keyring packages listed in each debootstrap will
# still be installed.
noauth=true

# retry five times
retries=5

# extract all downloaded archives
unpack=true

# the order of sections is no longer important.
# debootstrap determines which repository is used to
# calculate the list of Priority: required packages
bootstrap=Debian Debian_Security Debian_Updates Raspbian

# the order of sections is no longer important.
# aptsources is a list of sections to be listed
# in the /etc/apt/sources.list.d/multistrap.sources.list
# of the target.
aptsources=Debian Debian_Security Debian_Updates Raspbian

[Debian]
# GROUP-START:system
packages=acpid console-setup-linux pm-utils gdebi udev usbutils
packages=readline-common dbus dialog sudo net-tools fakeroot
packages=wicd wicd-cli wicd-curses netbase isc-dhcp-client
packages=apt apt-utils vim nano iputils-ping less wget preload
packages=locales man-db console-data fbi ca-certificates
packages=policykit-1 curl checkinstall locate git zip unzip
packages=module-init-tools fake-hwclock cron ntp
packages=console-setup debconf-utils stress elinks
# GROUP-END:system

# GROUP-START:test_tools
packages=stress memtester hdparm sysbench
# GROUP-END:test_tools

# GROUP-START:kernel_development
packages=kernel-package u-boot-tools
# GROUP-END:kernel_development

# GROUP-START:qt
packages=libqt4-qt3support libqt4-core libqt4-dbus libqt4-xml
packages=libqt4-network libqtassistantclient4 libqt4-opengl-dev
packages=libqt4-declarative libqt4-dev libqt4-dev-bin libqt4-help
packages=qt4-linguist-tools qt4-qmake qt4-dev-tools
packages=libqt4-scripttools libqt4-xmlpatterns
# GROUP-END:qt

# GROUP-START:c
packages=build-essential cmake autoconf automake libtool flex bison sqlite libblas3
packages=sqlite sqlite3 libmysqlclient-dev libatlas-base-dev libexpat1-dev libcurl4-openssl-dev
packages=libboost-all-dev libopencv-dev libgsl0-dev libgcrypt11-dev freeglut3
packages=libssl-dev libcrypto++-dev libpcap-dev libmsgpack-dev libxml2-dev libgd2-xpm-dev
packages=libgfortran3 libsqlite0-dev libsqlite3-dev gnuplot mathgl libncurses5-dev
packages=libusb-1.0-0 libusb-1.0-0-dev libgmp-dev libmpfr-dev
# GROUP-END:c

# GROUP-START:ruby
packages=ruby-full
# GROUP-END:ruby

# GROUP-START:python
packages=python python-pip python-setuptools python-mysql.connector python-mysqldb
packages=bash-completion python-software-properties libpython2.7 python-pcapy python-psutil
packages=python-numpy python-serial python-sip python-sqlite python-sqlitecachec
packages=python-scientific python-scipy python-sciscipy python-scitools python-pycurl
packages=python-opencv python-matplotlib python-matplotlib-data msgpack-python python-pypdf
# GROUP-END:python

# GROUP-START:octave
packages=octave octave-java
# GROUP-END:octave

# GROUP-START:delphi
packages=fpc fp-utils
# GROUP-END:delphi

# GROUP-START:java
packages=openjdk-6-jdk openjdk-7-jdk icedtea-netx icedtea-6-plugin
packages=icedtea-7-plugin icedtea-6-jre-cacao icedtea-6-jre-jamvm
packages=icedtea-7-jre-jamvm
# GROUP-END:java

# GROUP-START:php
packages=php5 php5-common php5-cli php-pear php-mdb2 php5-xmlrpc php5-snmp
packages=php5-mysql php5-sqlite php5-mcrypt php5-gd php5-curl php-net-smtp
packages=php-net-socket php-xml-parser php-db php-http php-mail php-log php-fpdf
# GROUP-END:php

# GROUP-START:perl
packages=perl perl-doc cpanminus libyaml-perl libdigest-hmac-perl libdbd-mysql-perl
packages=libterm-readline-gnu-perl libdbd-sqlite2-perl libdbd-sqlite3-perl
packages=libqtcore4-perl libqtnetwork4-perl libqtxml4-perl libcrypt-hcesha-perl
packages=libqttest4-perl libnet-pcap-perl libwww-curl-perl libsys-statistics-linux-perl
packages=libcrypt-openssl-rsa-perl libcrypt-des-perl libcrypt-dsa-perl
packages=libcrypt-openssl-dsa-perl libcrypt-blowfish-perl libcrypt-passwdmd5-perl
packages=libcrypt-openssl-random-perl libcrypt-util-perl libcrypt-gpg-perl
packages=libcrypt-generatepassword-perl librpc-xml-perl librpc-xml-perl libgd-graph3d-perl
packages=libgd-graph-perl libxml-simple-perl libpdf-create-perl
# GROUP-END:perl

source=http://%apt-cacher-0-prefix%ftp.debian.org/debian
keyring=debian-archive-keyring
suite=stable
components=main contrib non-free
omitdebsrc=false

[Debian_Security]
packages=
source=http://%apt-cacher-1-prefix%security.debian.org
keyring=debian-archive-keyring
suite=stable/updates
components=main contrib non-free
omitdebsrc=false

[Debian_Updates]
packages=
source=http://%apt-cacher-2-prefix%ftp.debian.org/debian
keyring=debian-archive-keyring
suite=stable-updates
components=main contrib non-free
omitdebsrc=false

[Raspbian]
# GROUP-START:mono
packages=mono-runtime libmono-2.0-1 mono-mcs
packages=mono-dmcs mono-gmcs mono-vbnc
# GROUP-END:mono

source=http://%apt-cacher-3-prefix%archive.raspbian.org/raspbian 
keyring=raspbian-archive-keyring
suite=stable
components=main contrib non-free
omitdebsrc=false
